<div class="container">
  <div class="containerNabvar">
    <div>
      <div class="nameContainer">
        <h1>Yarod Stiven Bonilla Ruiz</h1>
        <h2>Desarrollador full stack</h2>
      </div>

      <div class="containerIndex">
        <h4><a routerLink="" fragment="containerAbout">Acerca de</a></h4>
        <h4>
          <a routerLink="" fragment="containerExperience">Experiencia</a>
        </h4>
        <h4>
          <a routerLink="" fragment="containerProyect">Proyectos</a>
        </h4>
      </div>
    </div>
    <div class="contactContent">
      <h3>Contactame</h3>
      <div class="contact">
        <div class="logoLinkedin">
          <a href="https://www.linkedin.com/in/yarod-bonilla-808a24198/">
            <img
              src="logoLinkedin.png"
              alt="logoLinkedin"
              width="40px;"
              heigth="40px"
            />
          </a>
        </div>
        <div class="logoWhat">
          <a href="https://wa.me/573134398489">
            <img
              src="logoWhat.png"
              alt="logoWhat"
              width="40px;"
              heigth="40px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="containerinfo">
    <div class="containerAbout" id="containerAbout">
      <h1>Acerca de</h1>
      <p>
        ¡Hola! Soy un apasionado desarrollador Full Stack con experiencia 1+
        como freelancer. Actualmente, curso Ingeniería Mecatrónica en la
        Universidad ECCI, combinando mi interés por la tecnología con la
        programación. He trabajado en proyectos académicos y personales,
        desarrollando tanto el backend como el frontend de aplicaciones web. Me
        motiva aprender nuevas tecnologías, trabajar en equipo y enfrentar
        desafíos con creatividad y pensamiento crítico.
      </p>
    </div>
    <div class="containerExperience">
      <h1>Experiencia</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus
        eaque possimus voluptatibus facilis exercitationem harum expedita quas
        doloremque sint, eius aliquam quasi at magni amet quibusdam esse
        explicabo ab inventore.
      </p>
    </div>
    <div class="containerProy">
      <h1>Proyectos</h1>
      <div class="containerProyect">
        <div class="proyect">
          <div class="proyectContent">
            <div class="proyectDate">
              <iframe
                width="300"
                height="200"
                src="https://www.youtube.com/embed/mFQFKBN3lDg"
                frameborder="0"
                allowfullscreen
              >
                <h3>may. 2024 - jun. 2024</h3>
              </iframe>
            </div>
            <div class="proyectDescription">
              <h2>Profesional labor service</h2>
              <h3>
                Una plataforma web para servicios profesionales en los cuales
                puedes publicar y postularte a empleos
              </h3>
              <span
                >●Desarrolle la autenticación para el logueo de los usuarios
                junto con las relaciones respectivas para cadatabla
                <br />●Desarrolle la gestión para la creación de base de datos
                con postgress y sql relacionales <br />●Desarrolle el crud de
                las publicaciones y de los usuarios</span
              >
            </div>
          </div>
          <div class="proyectTecno">
            <h2>Tecnologias Utilizadas</h2>
            <div class="tecnoContent">
              <div class="frontContent">
                <h3>Front End</h3>
                <span>React, Redux, Tailwind CSS</span>
              </div>
              <div class="backContent">
                <h3>Back End</h3>
                <span
                  >Node.js, Express, JWT para autenticación, Cloudinary para
                  almacenamiento de imágenes</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="proyect">
          <div class="proyectContent">
            <div class="proyectDate">
              <img
                src="ecommerce.png"
                alt="Ecommerce"
                width="250px"
                height="250px"
              />
              <h3>Feb. 2024 - Mar. 2024</h3>
            </div>
            <div class="proyectDescription">
              <h2>Ecommerce</h2>
              <h3>Una plataforma de comercio electrónico</h3>
              <span
                >●Diseñar interfaces y elementos frontend, mantener y optimizar
                sitios web e interfaces. <br />
                ●Desarrolle la autenticación para el logueo de los usuarios
                junto con las relaciones respectivas para cadatabla <br />
                ●Desarrolle la gestión para la creación de base de datos con
                postgress y sql relacionales <br />
                ●Desarrolle el crud de las publicaciones y de los usuarios</span
              >
            </div>
          </div>
          <div class="proyectTecno">
            <h2>Tecnologias Utilizadas</h2>
            <div class="tecnoContent">
              <div class="frontContent">
                <h3>Front End</h3>
                <span>React, Redux, Tailwind CSS</span>
              </div>
              <div class="backContent">
                <h3>Back End</h3>
                <span
                  >Node.js, Express, JWT para autenticación, Cloudinary para
                  almacenamiento de imágenes</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="proyect">
          <div class="proyectContent">
            <div class="proyectDate">
              <img
                src="https://estaticos.elcolombiano.com/documents/10157/0/1060x535/140c0/780d535/none/11101/FIBC/image_content_36267891_20200826141457.jpg"
                alt="rover"
                width="250px"
                height="250px"
              />
              <h3>jun. 2019 - abri. 2020</h3>
            </div>
            <div class="proyectDescription">
              <h2>Experiencia académica. Universidad ecci</h2>
              <h3>
                Una vehículo biplaza impulsado manualmente para la recolección
                de materiales en la luna
              </h3>
              <span
                >●Diseño y estudios de materiales <br />
                ●Coordinación de estudiantes para las diferentes áreas de
                construcción <br />
                ●Programación en la comunicación</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="proyectUrl">
        <!-- <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ad
          sint voluptate. A sunt quas aspernatur pariatur suscipit, sapiente
          magnam commodi, officia illo eveniet facere assumenda! Nemo quia
          tenetur laboriosam.
        </p> -->
      </div>
    </div>
  </div>
</div>

<router-outlet />
